{% load static %}
<html>

<head>
    <title>Covid Live data</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<style type="text/css">
    .container {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;

    }
</style>

<body style="background-image: url('{% static 'bg.jpg' %}');">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src='{% static "corona.png" %}' alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
                <span style="color: red;">COVID 19</span> WORLDWIDE REALTIME DATA
            </a>
        </div>
    </nav>
    <br>
    <form method="POST" action="" class="d-flex justify-content-center align-items-center">
        {% csrf_token %}
        <select class="form-select" style="width: 200px; margin-right: 5px" class="form-control" name='selectedcountry'>
                {% for country in mylist %}
                <option>{{country}}</option>
                {% endfor %}
        </select>
        <input type="submit" value="Get Realtime data" name="" class="btn btn-danger">
    </form>
    <h1 style="color:white;text-align: center">{{selectedcountry}}</h1>
    <br>

    <div class="d-flex justify-content-center align-items-center">
        <div class="container"
            style="background-image: linear-gradient(to right, #f53803,#f5d020);height: 90px;width:250px">
            <h1 style="text-align: center;color: white">{{total}}</h1>
            <p style="text-align: center;color: white">Total Cases</p>
        </div>
        <div class="container"
            style="background-image: linear-gradient(to right, #19a186,#f2cf43);height:90px;width:250px">
            <h1 style="text-align: center;color: white">{{recovered}}</h1>
            <p style="text-align: center;color: white">Recovered</p>
        </div>
        <div class="container"
            style="background-image: linear-gradient(to right, #c33764,#1d2671);height:90px;width:250px">
            <h1 style="text-align: center;color: white">{{active}}</h1>
            <p style="text-align: center;color: white">Active</p>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="container"
            style="background-image:linear-gradient(to right, #eecda3,#ef629f) ;height: 90px;width:250px">
            <h1 style="text-align: center;color: white">{{new}}</h1>
            <p style="text-align: center;color: white">New Cases</p>
        </div>
        <div class="container"
            style="background-image: linear-gradient(to right, #10ffaf,#060aff);height: 90px;width:250px">
            <h1 style="text-align: center;color: white">{{deaths}}</h1>
            <p style="text-align: center;color: white">Deaths</p>
        </div>
        <div class="container"
            style="background-image:linear-gradient(to right, #ff512f,#dd2476);height: 90px;width:250px">
            <h1 style="text-align: center;color: white">{{critical}}</h1>
            <p style="text-align: center;color: white">Critical</p>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <p style="position: absolute;bottom: 20px;color:grey;text-align: center;">Developed by<span
                style="color: white"> Vivek</span></p>
    </div>



</body>

</html>